
/*Generic*/

.content-holder {
  max-width: 450px;
}

.content-holder > h1 {
  color: var(--main-color);
}


/*Banner*/

.banner {
  width: 100%;
  padding-top: 80px;
  height: 100vh;
  background-image: url('https://source.unsplash.com/1200x800');
  background-position: center;
  background-size: cover;
}

.banner > .container {
  height: 100%;
}

.banner-content {
  max-width: 500px;
}

.banner-heading, .banner-subheading {
  color: white;
}

.banner-subheading {
  margin: 30px 0px 50px;
}


/*Over ons*/

.image-1 {
  margin: -80px 0px 0px;
  width: 550px;
  height: 600px;
  background-image: url('https://source.unsplash.com/400x450');
  background-position: center;
  background-size: cover;
}

.ons-content {
  margin-top: 180px;
}

.ons-content > h2 {
  margin: 40px 0px 20px;
}

.ons-content > p {
  margin-bottom: 40px;
  width: 80%;
}


/*Onze diensten*/

.dienst-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.dienst-content > h1 {
  margin-bottom: 80px;
}

.dienst-content > p {
  margin-top: 40px;
}

.dienst-content > h2 {
  margin-top: 20px;
}

.dienst-content > a {
  text-decoration: none;
}

.link-holder-dienst {
  display: flex;
  align-items: center;
}

.link-holder-dienst > h2 {
  color: var(--main-color);
  text-decoration: underline;
}

.link-holder-dienst:hover > h2 {
  text-decoration: none;
}

.arrow-dienst {
  color: var(--main-color);
  font-size: 48px;
  margin-top: 120px;
  margin-right: 40px;
  transition: all 200ms;
}

.arrow-dienst-hover {
  transform: translateX(20px);
}

.round-arrow-dienst {
  background-color: var(--main-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 16px;
  margin-left: 20px;
  transition: all 200ms;
}

.round-arrow-dienst > i {
  color: white;
  font-size: 14px;
}

.image-slider-image {
  display: none;
  width: 550px;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.image-slider-dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #aaa;
}

.active-dot {
  background-color: #666;
}




