
/*Generic*/

.content-holder {
  max-width: 450px;
}

.content-holder > h1 {
  color: var(--main-color);
}


/*Banner*/

.banner {
  width: 100%;
  padding-top: 80px;
  height: 100vh;
  background-image: url('https://source.unsplash.com/1200x800');
  background-position: center;
  background-size: cover;
}

.banner > .container {
  height: 100%;
}

.banner-content {
  max-width: 500px;
}

.banner-heading, .banner-subheading {
  color: white;
}

.banner-subheading {
  margin: 30px 0px 50px;
}


/*Over ons*/

.image-1 {
  margin: -40px 0px 0px;
  width: 450px;
  height: 500px;
  background-image: url('https://source.unsplash.com/400x450');
  background-position: center;
  background-size: cover;
}

.ons-content {
  margin-top: 120px;
}

.ons-content > h2 {
  margin: 40px 0px 20px;
}

.ons-content > p {
  margin-bottom: 40px;
  width: 80%;
}


/*Onze diensten*/

.dienst-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.dienst-content > h1 {
  margin-bottom: 80px;
}

.dienst-content > p {
  margin-top: 40px;
}

.dienst-content > h2 {
  margin-top: 20px;
}

.dienst-content > a {
  text-decoration: none;
}

.link-holder-dienst {
  display: flex;
  align-items: center;
}

.link-holder-dienst > h2 {
  color: var(--main-color);
  text-decoration: underline;
}

.link-holder-dienst:hover > h2 {
  text-decoration: none;
}

.arrow-dienst {
  color: var(--main-color);
  font-size: 48px;
  margin-top: 110px;
  margin-right: 40px;
  transition: all 200ms;
}

.arrow-dienst-hover {
  transform: translateX(20px);
}

.round-arrow-dienst {
  background-color: var(--main-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 16px;
  margin-left: 20px;
  transition: all 200ms;
}

.round-arrow-dienst > i {
  color: white;
  font-size: 14px;
}

.image-slider-image {
  display: none;
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.slider-dot-holder {
  width: 100px;
  margin: 30px auto 0px;
}

.image-slider-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.reveal {
  animation-name: reveal;
  animation-duration: 2s;
}

@keyframes reveal {
  from {opacity: .4}
  to {opacity: 1}
}

.background-image {
  width: 100%;
  position: absolute;
  opacity: 0.05;
  z-index: -1;
}

.banner-small {
  width: 100%;
  min-height: 80vh;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/1200x600');
  /*background-image: rgba(68, 105, 211, 0.3), url('https://source.unsplash.com/1200x800');*/
  background-position: center;
  background-size: cover;
}

.banner-small-content > h1 {
  color: white;
}

.banner-small-content > h2 {
  color: white;
  margin: 80px 0px 40px;
}


/*Cultuur*/

.cultuur-container {
  height: 80vh;
  margin-top: 80px;
  position: relative;
}

.cultuur-header {
  position: absolute;
  left: 0px;
  top: 0px;
}

.cultuur-info-container {
  margin-bottom: 80px;
}


.image-2 {
  width: 500px;
  height: 350px;
  position: absolute;
  left: 20px;
  top: 80px;
  background-image: url('https://source.unsplash.com/500x350');
  background-position: center;
  background-size: cover;
}

.image-3 {
  width: 250px;
  height: 350px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url('https://source.unsplash.com/250x350');
  background-position: center;
  background-size: cover;
}

.image-4 {
  width: 300px;
  height: 200px;
  margin-right: 40px;
  background-image: url('https://source.unsplash.com/300x250');
  background-position: center;
  background-size: cover;
}

.small-bar-home {
  width: 200px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--main-color);
  z-index: 1;
}

.big-bar-home {
  width: 80px;
  height: 32px;
  border-radius: 16px 0px 0px 16px;
  position: absolute;
  right: 0px;
  top: 500px;
  background-color: var(--main-color);
  z-index: 1;
}

.cultuur-content > p {
  margin: 10px 0px 40px;
}

